/obj
/bin
/.vs/ClipMerger/v16/.suo
/.vs/ClipMerger/v16/Server/sqlite3/db.lock
/.vs/ClipMerger/v16/Server/sqlite3/storage.ide
/.vs/ClipMerger/v16/Server/sqlite3/storage.ide-shm
/.vs/ClipMerger/v16/Server/sqlite3/storage.ide-wal
/ClipMerger.csproj.user
